body {
  background-color: rgb(0.13, 0.13, 0.23);
  color: #e0e5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

#landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#landing h1 {
  color: #eef;
}
#landing button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0.13, 0.13, 0.23);
  color: #eef;
  border: 2px solid #1ab67d;
}
#landing button:hover {
  background-color: #1ab67d;
  color: #eef;
}
